{% import 'macros.html' as _m -%}


<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {{ _m.title(title, crumbs, ignore) }}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div id="header">
                <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
                {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
            </div>
            
            <div class="module module-nav">
                <ul class="unstyled">
                    <li>
                        {{ _("Docs") }}
                        
                        <ul class="unstyled">
                            <li><a href="{{ get_url('docs/quickstart/') }}">{{ _("Quickstart") }}</a></li>
                            <li><a href="{{ get_url('docs/command-line/') }}">{{ _("Command Line") }}</a></li>
                            <li><a href="{{ get_url('docs/config/') }}">{{ _("Config") }}</a></li>
                            <li><a href="{{ get_url('docs/templates/') }}">{{ _("Templates") }}</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        {{ _("Community") }}
                        
                        <ul class="unstyled">
                            <li><a href="https://github.com/Anomareh/mynt">{{ _("GitHub") }}</a></li>
                            <li><a href="http://webchat.freenode.net/?channels=mynt">{{ _("IRC") }}</a></li>
                            <li><a href="{{ get_url('community/sites/') }}">{{ _("Sites") }}</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        {{ _("News") }}
                        
                        <ul class="unstyled">
                            <li><a href="{{ get_url('news/') }}">{{ _("Latest") }}</a></li>
                            <li><a href="{{ get_url('news/archives/') }}">{{ _("Archives") }}</a></li>
                            <li><a href="{{ get_url('news/feed/') }}">{{ _("Feed") }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        {% if toc %}
            <ul id="toc">
                {{ _m.toc(toc) }}
            </ul>
        {% endif %}
        
        {% if crumbs %}
            <ul id="breadcrumbs">
                {{ _m.breadcrumbs(crumbs) }}
            </ul>
        {% endif %}
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <a id="forkme" href="https://github.com/Anomareh/mynt"><img src="{{ get_asset('images/forkme.png') }}" width="149" height="149" alt="Fork me on Github"></a>
</body>
</html>
